
body, :root {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    
}

.header {
    min-height: 2em;
    background-color: rgb(37, 37, 185);
    text-align: center;
    color: white;
}

#library {
    display: grid;
    grid-template-columns: repeat(auto-fill, 13em);
}

.book {
    font-family: 'Dancing Script';
    display: grid;
    gap: 1em;
    /* background-color: rgb(254 253 227); */
    border-radius: 2em;
    /* box-shadow: 4px 5px 11px 0px #a1a1a1; */
    padding: .5em 1em;
    width: 10em;
    height: 15em;
    margin: 1em;
    background-image: url(book.png);
    background-size: cover;
    justify-content: center;
    padding: 3.2em .5em .5em 1.5em;
}

.formInputs {
    display: grid;
    grid-template-columns: auto auto;
}

.hidden{
    display: none;
}

#formContainer {
    width: clamp(25em, 25vw, 30vw );
}

.delBook {
    background-image: url(./trash.png);
    height: 1.5em;
    border: none;
    background-color: transparent;
}